<!DOCTYPE html>
<html lang ="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Artist Data Search</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    
    <script src="final.js" defer></script>
</head>

<body>
    <h1>Spotify Artist Data Search</h1>

    <form action="/" method="post">
        <label for="name">Enter an artist's name:</label>
        <input type="text" id="name" required>
        <button type="submit">Search Artist</button>
    </form>
    
    <% if (artistData) { %>
        <h2>Top Tracks for <%= artistData.name %></h2>
        <ul>
            <% artistData.topTracks.forEach(track => { %>
                <li><%= track.name %> - <%= track.album.name %></li>
            <% }) %>
        </ul>

        <h2>Albums by <%= artistData.name %></h2>
        <ul>
            <% artistData.albums.forEach(album => { %>
                <li><%= album.name %> - <%= album.release_date %></li>
            <% }) %>
        </ul>

        <h2>Similar Artists</h2>
        <ul>
            <% artistData.similarArtists.forEach(artist => { %>
                <li><%= artist.name %></li>
            <% }) %>
        </ul>
    <% } %>

</body>
</html>